<div>
  <div class="biz-information-content">
    <div [formGroup]="editForm" nz-form nzLayout="vertical" class="biz-information-content-form">
      <nz-form-item>
        <nz-form-label nzNoColon>名字</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="small" formControlName="username" placeholder="名字" readonly />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div [formGroup]="editForm" nz-form nzLayout="vertical">
      <nz-form-item>
        <nz-form-label nzNoColon>中文名</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="small" formControlName="realName" placeholder="中文名" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-form nzLayout="vertical" [formGroup]="editForm">
    <nz-form-item>
      <nz-form-label nzNoColon>描述</nz-form-label>
      <nz-form-control>
        <textarea rows="5" nz-input formControlName="comment"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-form nzLayout="vertical" [formGroup]="editForm" style="width: 200px">
    <nz-form-item>
      <nz-form-label nzNoColon>转交给</nz-form-label>
      <nz-form-control>
        <nz-select nzShowSearch nzAllowClear formControlName="userId" nzPlaceHolder="Select a person" nzSize="small">
          <nz-option nzLabel="sheng.xu" nzValue="sheng.xu"></nz-option>
          <nz-option nzLabel="zixuan.wang" nzValue="zixuan.wang"></nz-option>
          <nz-option nzLabel="siyi.wang" nzValue="siyi.wang"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </div>
</div>
