<div class="app-common-content">
  <nz-breadcrumb nzSeparator=">" class="app-common-header">
    <nz-breadcrumb-item >
      <a routerLink="/biz/app-settings">biz</a>
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>app</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="app-common-body">
    <div class="app-body-header">
      <h1>{{ name }}</h1>
      <p>{{ displayName }}</p>
    </div>
    <div class="app-body-comment">
      {{ comment }}
    </div>
  </div>
  <div class="app-common-footer">
    <span >源代码地址</span>
    <a>GITLAB</a>
  </div>
</div>

