
.app-common-body {
  display: flex;
  margin-bottom: 50px;

  .app-body-header {
    border: 1px solid #DCDEE5;
    padding: 15px 5px;
    min-width: 140px;
    text-align: center;
    p {
      margin-bottom: 0;
      color: #666;
    }
    h1 {
      margin: 0;
      font-size: 1.4375rem;
    }
  }
  .app-body-comment {
    margin-left: 50px;
    flex: 1;
    border: 1px solid #DCDEE5;
    padding: 15px 5px;
    text-align: center;
  }
}
.app-common-footer {
  a {
    margin-left: 40px;
  }
}
