.app-information-content {
  display: flex;
  .app-information-content-form {
    margin-right: 50px;
  }
}

.app-information-footer {
  display: flex;
  align-items: center;
  margin-top: 20px;
  button {
    margin-left: 20px;
  }
}

.app-information-divider {
  border-top: 0;
  border-top-color: rgba(0, 0, 0, 0.06);
  display: flex;
  margin: 16px 0;
  color:  #1890ff;
  font-weight: 500;
  font-size: 14px;
  white-space: nowrap;
  text-align: center;
  cursor: pointer;
}
.app-information-divider::after {
  transform: translateY(50%);
  border-top: 1px solid transparent;
  position: relative;
  top: 50%;
  width: 100%;
  left: 14px;
  border-top-color: inherit;
  border-bottom: 0;
  content: '';
}
