<div>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <div class="select-menu-contain">
        {{name}}
      </div>
      <ul nz-menu nzMode="inline" class="sider-menu">
        <ng-container *ngFor="let menu of sectionItem">
          <li *ngIf="!menu.subMenu" nz-menu-item nzMatchRouter>
            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
            <span>
<!--              <a [routerLink]="'/app/' + menu.id">{{ menu.name }}</a>-->
              <a [routerLink]="menu.id">{{ menu.name }}</a>
            </span>
          </li>
          <li *ngIf="menu.subMenu" nz-submenu nzOpen [nzTitle]="menu.name" [nzIcon]="menu.icon">
            <ul>
              <li *ngFor="let item of menu.subMenu" nz-menu-item nzMatchRouter>
                <i nz-icon [nzType]="item.icon" *ngIf="item.icon"></i>
                <span>
                  <a [routerLink]="item.id">{{ item.name }}</a>
                </span>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout >
      <!--      <nz-breadcrumb>-->
      <!--        <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
      <!--        <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
      <!--        <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
      <!--      </nz-breadcrumb>-->
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
