@baseBorder: #DCDEE5;
nz-layout {
  //height: 100vh;
}
.sider-menu {
  border-right: 0;
}

nz-content {
  background: #fff;
  //padding: 20px;
  height: 100vh;
  border-left: 1px solid @baseBorder;
  overflow: auto;
  padding-bottom: 70px;
}
// 侧边栏滚动
.ant-layout-sider {
  overflow: auto;
}

.select-menu-contain {
  display: flex;
  justify-content: center;
  height: 53px;
  align-items: center;
  //margin: 0 20px;
  //border: 1px solid @baseBorder;
  border-bottom: 1px solid @baseBorder;
}
