<div class="biz-content">
  <div class="biz-content-header">
    <p>QB</p>
    <p>行情系统</p>
  </div>
  <div class="biz-content-search">
    <div nz-form nzLayout="inline" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzNoColon>名字</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="small" formControlName="Name" placeholder="输入名字" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div>
    <nz-table #basicTable
              [nzData]="listOfData"
              nzShowPagination
              nzShowSizeChanger
              [nzLoading]="isResultLoading"
    >
      <thead>
      <tr>
        <th>名字</th>
        <th>显示名</th>
        <th>级别</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.Name }}</td>
        <td>{{ data.DisplayName }}</td>
        <td>{{ data.Level }}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
