.biz-content {
  //padding: 20px;
  .biz-content-header {
    border: 1px solid #DCDEE5;
    padding: 15px 5px;
    width: 120px;
    text-align: center;
    p {
      margin-bottom: 0;
    }
  }
}
.biz-content-search {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
