<nz-layout class="layout-contain">
  <nz-header>
    <div class="logo">logo</div>
    <div class="layout-header-menu">
      <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/biz">业务拓扑</a>
        </li>
        <li nz-menu-item>
          <a href="http://www.baidu.com">运维工具箱</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/x">CI</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/x">CD</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/x">监控中心</a>
        </li>
        <li nz-menu-item nzMatchRouter>
          <a routerLink="/x">日志中心</a>
        </li>
      </ul>
      <section>
        <nz-avatar nzIcon="user" class="user-avatar"></nz-avatar>
        <a nz-dropdown [nzDropdownMenu]="menu">
          {{ username }}
          <i nz-icon nzType="down"></i>
        </a>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item (click)="logout()">退出</li>
          </ul>
        </nz-dropdown-menu>
      </section>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider nzCollapsible nzWidth="200px" nzTheme="light">
      <div class="select-menu-contain">
        <nz-select class="select-menu" nzShowSearch nzAllowClear nzPlaceHolder="Select" [formControl]="selectedValue">
          <nz-option nzLabel="业务监控" nzValue="业务监控"></nz-option>
          <nz-option nzLabel="CMDB" nzValue="CMDB"></nz-option>
          <nz-option nzLabel="QB" nzValue="QB"></nz-option>
        </nz-select>
      </div>
      <ul nz-menu nzMode="inline" class="sider-menu">
        <!--        递归-->
<!--        <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: sectionItem }"></ng-container>-->
<!--        <ng-template #menuTpl let-menus>-->
<!--          <ng-container *ngFor="let menu of menus">-->
<!--            <li-->
<!--                *ngIf="!menu.subMenu"-->
<!--                nz-menu-item-->
<!--                nzMatchRouter-->
<!--                [nzPaddingLeft]="menu.level * 24"-->
<!--            >-->
<!--              <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>-->
<!--              <span>-->
<!--                <a [routerLink]="'/biz/' + menu.id">{{ menu.name }}</a>-->
<!--              </span>-->
<!--            </li>-->
<!--            <li-->
<!--                *ngIf="menu.subMenu"-->
<!--                nz-submenu-->
<!--                [nzTitle]="menu.name"-->
<!--                [nzIcon]="menu.icon"-->
<!--                [nzPaddingLeft]="menu.level * 24"-->
<!--            >-->
<!--              <ul>-->
<!--                <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.subMenu }"></ng-container>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ng-container>-->
<!--        </ng-template>-->
        <ng-container *ngFor="let menu of sectionItem">
          <li *ngIf="!menu.subMenu" nz-menu-item nzMatchRouter>
            <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
            <span>
              <a [routerLink]="'/biz/' + menu.id">{{ menu.name }}</a>
            </span>
          </li>
          <li *ngIf="menu.subMenu" nz-submenu [nzTitle]="menu.name" [nzIcon]="menu.icon">
            <ul>
              <li *ngFor="let item of menu.subMenu" nz-menu-item nzMatchRouter>
                <i nz-icon [nzType]="item.icon" *ngIf="item.icon"></i>
                <span>
                  <a [routerLink]="'/biz/' + item.id">{{ item.name }}</a>
                </span>
              </li>
            </ul>
          </li>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout >
<!--      <nz-breadcrumb>-->
<!--        <nz-breadcrumb-item>Home</nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>List</nz-breadcrumb-item>-->
<!--        <nz-breadcrumb-item>App</nz-breadcrumb-item>-->
<!--      </nz-breadcrumb>-->
      <nz-content>
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
