<div class="app-common-content">
  <nz-breadcrumb nzSeparator=">" class="app-common-header">
    <nz-breadcrumb-item>devops</nz-breadcrumb-item>
    <nz-breadcrumb-item>devops</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div [formGroup]="editForm" nz-form nzLayout="vertical">
    <nz-form-item>
      <nz-form-label nzNoColon>集群名</nz-form-label>
      <nz-form-control>
        <input nz-input nzSize="small" formControlName="Name" placeholder="集群名" readonly />
      </nz-form-control>
    </nz-form-item>
  </div>
  <div nz-form nzLayout="vertical" [formGroup]="editForm">
    <nz-form-item>
      <nz-form-label nzNoColon>描述</nz-form-label>
      <nz-form-control>
        <textarea rows="5" nz-input formControlName="Comment"></textarea>
      </nz-form-control>
    </nz-form-item>
  </div>
  <div>
    <button nz-button (click)="onSubmit()" nzType="primary">修改</button>
  </div>
  <div>
    <div class="app-information-divider" (click)="advancedSetting()">
      <span >高级设置</span>
    </div>
  </div>
  <div *ngIf="isAdvancedSettingShow">
    <div style="margin: 10px 0">实例模板</div>
    <div app-common-form [editForm]="editInstanceForm"></div>
    <div >
      <button nz-button nzType="primary" (click)="onSubmitInstance()">修改</button>
    </div>
  </div>
  <div *ngIf="isAdvancedSettingShow" class="app-set-cluster-footer">
    <div>绑定机房环境</div>
    <div>
      <nz-tree
          [nzData]="nodesData"
          nzCheckable
          nzExpandAll
          (nzCheckBoxChange)="nzCheck($event)">
      </nz-tree>
    </div>
    <div>
      <app-common-tree [clusterId]="id" [nodesData]="nodesData"></app-common-tree>
    </div>
  </div>
</div>
