<div class="app-cluster-tree">
  <nz-layout class="layout-contain-com">
    <nz-header>
      <nz-breadcrumb nzSeparator=">" class="app-common-header">
        <nz-breadcrumb-item>app</nz-breadcrumb-item>
        <nz-breadcrumb-item>cluster</nz-breadcrumb-item>
        <nz-breadcrumb-item>instance</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <div class="business-tree">
          <app-common-tree [nodesData]="nodesData" [clusterId]="clusterId" (queryEvent)="queryEvent($event)" queryOrBind="query"></app-common-tree>
        </div>
<!--        <div class="business-tree">-->
<!--          <nz-tree-->
<!--              [nzData]="nodes"-->
<!--              nzCheckable-->
<!--              nzExpandAll-->
<!--              (nzClick)="showListData($event)"-->
<!--              (nzExpandChange)="nzEvent($event)"-->
<!--              (nzCheckBoxChange)="nzCheck($event)"-->
<!--              (nzSearchValueChange)="nzEvent($event)">-->
<!--          </nz-tree>-->
<!--        </div>-->
      </nz-sider>
      <nz-content>
        <div class="app-set-content-search">
          <button nz-button (click)="showCreateDialog()" [disabled]="!rsId">添加</button>
          <div nz-form nzLayout="inline" [formGroup]="searchForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="10" nzNoColon>名字</nz-form-label>
              <nz-form-control>
                <input nz-input nzSize="small" placeholder="输入名字" formControlName="Name" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-table #basicTable [nzData]="listOfData"
                  [nzScroll]="{x: '1500px', y: '500px'}"
                  [nzLoading]="isResultLoading"
                  nzShowPagination
                  nzShowSizeChanger>
          <thead>
          <tr>
            <th nzWidth="100px" nzLeft>ID</th>
            <th>实例名</th>
            <th>描述</th>
            <th>状态</th>
            <th>用户</th>
            <th>数据目录</th>
            <th>日志目录</th>
            <th>监控采集地址</th>
            <th>工作目录</th>
            <th nzWidth="80px" nzRight>操作</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td nzLeft>{{ data.ID }}</td>
            <td>{{ data.Name }}</td>
            <td>{{ data.Comment }}</td>
            <td>{{ data.State }}</td>
            <td>{{ data.User }}</td>
            <td>{{ data.DataDir }}</td>
            <td>{{ data.LogDir }}</td>
            <td>{{ data.MetricEndpoint }}</td>
            <td>{{ data.WorkDir }}</td>
            <td nzRight>
              <div>
<!--                <button nz-button nzType="text" nzSize="small">下架</button>-->
<!--                <button nz-button nzType="text" nzSize="small">上线</button>-->
<!--                <button nz-button nzType="text" nzSize="small">释放</button>-->
                <button nz-button nzType="text" (click)="showEditDialog(data)">
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>
              </div>
            </td>
          </tr>
          </tbody>
        </nz-table>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
