<div class="app-cluster-tree">
  <nz-layout class="layout-contain-com">
    <nz-header>
      <nz-breadcrumb nzSeparator=">" class="app-common-header">
        <nz-breadcrumb-item>devops</nz-breadcrumb-item>
        <nz-breadcrumb-item>devops</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-header>
    <nz-layout>
      <nz-sider nzWidth="200px" nzTheme="light">
        <div class="business-tree">
<!--          <nz-input-group [nzSuffix]="suffixIcon">-->
<!--            <input type="text" nz-input placeholder="Search" [(ngModel)]="searchValue" />-->
<!--          </nz-input-group>-->
<!--          <ng-template #suffixIcon>-->
<!--            <i nz-icon nzType="search"></i>-->
<!--          </ng-template>-->
          <nz-tree
              [nzData]="nodes"
              nzCheckable
              nzExpandAll
              (nzClick)="showListData($event)"
              (nzExpandChange)="nzEvent($event)"
              (nzCheckBoxChange)="nzCheck($event)"
              (nzSearchValueChange)="nzEvent($event)">
          </nz-tree>
        </div>
      </nz-sider>
      <nz-content>
        <div class="app-set-content-search">
          <button nz-button (click)="showCreateDialog()">添加</button>
          <div nz-form nzLayout="inline" [formGroup]="searchForm">
            <nz-form-item>
              <nz-form-label [nzSpan]="10" nzNoColon>名字</nz-form-label>
              <nz-form-control>
                <input nz-input nzSize="small" placeholder="输入名字" formControlName="Name" />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <nz-table #basicTable [nzData]="listOfData"
                  [nzScroll]="{x: '1100px'}"
                  nzShowPagination
                  nzShowSizeChanger>
          <thead>
          <tr>
            <th nzWidth="120px" nzLeft>ID</th>
            <th>内网IP</th>
            <th>应用名</th>
            <th>机房</th>
            <th>环境</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data">
<!--            <td nzLeft>{{ data.id }}</td>-->
<!--            <td>{{ data.innerIp }}</td>-->
<!--            <td>{{ data.name }}</td>-->
<!--            <td>{{ data.house }}</td>-->
<!--            <td>{{ data.dev }}</td>-->
          </tr>
          </tbody>
        </nz-table>
      </nz-content>
    </nz-layout>
  </nz-layout>
</div>
