<div >
  <div class="biz-set-content-search">
    <div nz-form nzLayout="inline" [formGroup]="searchForm">
      <nz-form-item>
        <nz-form-label [nzSpan]="10" nzNoColon>名字</nz-form-label>
        <nz-form-control>
          <input nz-input nzSize="small" placeholder="输入名字" formControlName="Name" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div>
    <nz-table #basicTable
              [nzData]="listOfData"
              nzShowPagination
              nzShowSizeChanger
              [nzScroll]="{y: '500px'}"
              [nzLoading]="isResultLoading"
    >
      <thead>
      <tr>
        <th>名字</th>
        <th>显示名</th>
        <th>级别</th>
        <th nzRight nzWidth="120px">操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.Name }}</td>
        <td>{{ data.DisplayName }}</td>
        <td>{{ data.Level }}</td>
        <td nzRight>
          <div style="display: flex">
            <a nz-button nzType="text" [routerLink]="['/app/' + data.ID + '/members']" >
              <i nz-icon nzType="team" nzTheme="outline"></i>
            </a>
            <a nz-button nzType="text" [routerLink]="['/app/' + data.ID + '/index']" >
              <i nz-icon nzType="edit" nzTheme="outline"></i>
            </a>
          </div>
        </td>
      </tr>
      </tbody>
    </nz-table>
  </div>
</div>
